* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Playtime';
    src: url('./fonts/playtime.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url(./images/background.svg);
    background-size: cover;
    font-family: 'Playtime', sans-serif;
}

h1 {
    max-width: 76%;
}

@media (max-width: 768px) {
    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 18px;
    }
}

.wrapper {
    max-width: 1920px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    background-color: #fff;
    max-width: 800px;
    width: 96%;
    max-height: 80vh;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    position: relative;
}

.menuBtn {
    background-image: url(./images/close.svg);
    background-size: cover;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    transform: translate(-20px, 20px);
    cursor: pointer;
}

.defaultMenu {
    background-image: url(./images/menu.svg);
}

.menuScreen {
    height: 60%;
    padding: 30px 20px 20px 20px;
}

.menuTxt {
    margin-top: 40px;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 80px;
}

.itemsList {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px 0;
}

.itemsList li {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.itemImg {
    max-width: 200px;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.rulesList {
    padding: 10px 0 10px 10px;
}

.rulesList li {
    margin-bottom: 10px;
}

.ground {
    flex: 1;
    width: 100%;
    height: auto;
    height: 40%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0 0 20px 20px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    transition: all .3s ease;
}

.menuColapse {
    height: 100%;
}

.itemsContainer {
    display: flex;
    justify-content: center;
}

.grass {
    background-color: #326e3c;
    background-image: url(./images/grass.webp);
}

#grass1 {
    border-radius: 20px 0 0 20px;
}

#grass2 {
    border-radius: 0 20px 20px 0;
}

.river {
    background-color: #89b7fd;
    background-image: url(./images/water.webp);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
}

.sideA,
.sideB {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.item {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .item {
        width: 60px;
        height: 60px;
    }
}

.movement {
    width: 160px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: right;
    transition: all 2s ease;
}

@media (max-width: 768px) {
    .movement {
        width: 120px;
    }
}

.moveRight {
    width: 100%;
}

.boat {
    width: 160px;
    height: auto;
    background-image: url(./images/boat2.webp);
    background-size: contain;
    position: relative;
}

@media (max-width: 768px) {
    .boat {
        width: 120px;
    }
}

.boat .item {
    transform: translateY(-12px);
}

.boatFront {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}

@media (max-width: 768px) {
    .boatFront img {
        width: 120px;
        height: auto;
    }
}

.crossBtn {
    background-color: #ebde2b;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -20px);
    font-size: 20px;
    padding: 10px 14px;
    border: none;
    border-radius: 6px;
    transition: all .1s ease;
    font-family: 'playtime', sans-serif;
}

.crossBtn:hover {
    background-color: #f7ec56;
}

.footer {
    background-color: #233249;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    line-height: 1.6;
}

.iconsContainer {
    margin: 20px 0;
    display: flex;
    gap: 16px;
    justify-content: center;
}

.iconsContainer img {
    width: auto;
    height: 40px;
}

.footer a {
    color: #ebde2b;
}

.disclamer {
    margin-top: 30px;
    font-size: 14px;
}